.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.custom-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.custom-paragraph {
  font-size: 1rem;
  margin-bottom: 15px;
}

.custom-button {
  font-size: 1rem;
}
.custom-button2 {
  @extend .custom-button;
  margin-top: 20px;
}
.bin{
  height: 300px;
  width: fit-content;
}
