<ng-container *ngIf="cats().length>0; else nocat">
  <table mat-table [dataSource]="cats()">

    <ng-container matColumnDef="catImageName">
      <th mat-header-cell *matHeaderCellDef> Zdjecie kota </th>
      <td mat-cell *matCellDef="let element">   <img [src]="'./../../../assets/' + element.catImageName" alt="cat" class="catImage"/> </td>
    </ng-container>

    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef> Imie kota </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="feedingLevel">
      <th mat-header-cell *matHeaderCellDef> Poziom nakarmienia </th>
      <td mat-cell *matCellDef="let element"> {{element.feedingLevel}} </td>
    </ng-container>


    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Imie wlasciciela </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>


    <ng-container matColumnDef="star" >
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
       <a [routerLink]="['/cat', element.catId]"> <mat-icon>arrow_circle_right</mat-icon></a>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-raised-button color="primary" class="custom-button2"  [routerLink]="['/cat', 'create']">Zaadoptuj kolejnego Kota</button>
</ng-container>

<ng-template #nocat class="center-content">

  <h2 class="custom-heading">Dodaj Kota</h2>

  <p class="custom-paragraph">Cześć {{username()}}! Nie masz jeszcze kota?</p>
  <p class="custom-paragraph">Zaadoptuj jakiegoś! </p>
  <img src="./../../../assets/garbage.jpg" alt="bin" class="bin"/> <br />

  <button mat-raised-button color="primary" class="custom-button"  [routerLink]="['/cat', 'create']">Zaadoptuj Kota</button>
</ng-template>

